<!DOCTYPE html>
<html>

<head>
    <title>Routes</title>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=####KEY####&libraries=geometry"></script>
</head>

<script>
let marker1, marker2;
let poly, geodesicPoly;

function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
    zoom: 4,
    center: { lat: -34.397, lng: 150.644 },
    mapTypeControl: false,
  });
  geocoder = new google.maps.Geocoder();

  map.controls[google.maps.ControlPosition.TOP_CENTER].push(
    document.getElementById("info")
  );

  const submitButton = document.createElement("input");

  submitButton.type = "button";
  submitButton.value = "Geocode";
  submitButton.classList.add("button", "button-primary");

  map.controls[google.maps.ControlPosition.TOP_LEFT].push(submitButton); 

  marker1 = new google.maps.Marker({
    map,
    position: { lat: 43.68380566915969, lng: -79.33436914062501 },
  });

  marker2 = new google.maps.Marker({
    map,
  });

  submitButton.addEventListener("click", () =>
    //ADD LOCATION HERE
    geocode({ address: "moscow" })
  );
}

function update() {
  const path = [marker1.getPosition(), marker2.getPosition()];

  poly.setPath(path);
  geodesicPoly.setPath(path);

  const heading = google.maps.geometry.spherical.computeHeading(
    path[0],
    path[1]
  );

  document.getElementById("heading").value = String(heading);
  document.getElementById("origin").value = String(path[0]);
  document.getElementById("destination").value = String(path[1]);
}

function geocode(request) {
  var coords = [];
  geocoder
    .geocode(request)
    .then((result) => {
      const { results } = result;

      map.setCenter(results[0].geometry.location);
      coords[0] = results[0].geometry.location.lat();
      coords[1] = results[0].geometry.location.lng();

      marker2.setPosition(results[0].geometry.location);
      marker2.setMap(map);

      const bounds = new google.maps.LatLngBounds(
       marker1.getPosition(),
       marker2.getPosition()
     );

  map.fitBounds(bounds);
  poly = new google.maps.Polyline({
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 3,
    map: map,
  });
  geodesicPoly = new google.maps.Polyline({
    strokeColor: "#CC0099",
    strokeOpacity: 1.0,
    strokeWeight: 3,
    geodesic: true,
    map: map,
  });
  update();
      return coords;
    })
    .catch((e) => {
      alert("Geocode was not successful for the following reason: " + e);
    });
}

google.maps.event.addDomListener(window, 'load', initMap)
</script>
<body>
    <div id="map" style="height: 500px;"></div>
</body>
</html>