.navbar{
  padding: 2rem;
  
}


.navbar span{
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar a{
  color: #5F85DB !important; 
}

.navbarlogo{
  width: 35px;
  height: 35px; 
}

.navbarlogo:hover{
  fill: #64FFDA;
}

.subhead{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
  color: white;
}

