.ContentCard{
    color: white;
    margin-top: 20px;
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-content, .right-content{
    background-color: #302f2f6b;
    padding: 5%;
    border-radius: 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.937);
    width: 35vw;
    height: 80vh;
}

.left-content:hover, .right-content:hover{
   border-color: #64FFDA;
}